.rContainer {
  height: auto;
  width: auto;
  background-color: rgb(142, 212, 163);

}

#go_to_Q_and_A {
  background-color: rgb(240, 240, 240);
  border-radius: 12px;
  border: rgb(142, 212, 163);
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 100px;

}

#go_to_Q_and_A:hover {
  background-color: rgb(212, 211, 211);
}

#go_to_WholeClass {
  background-color: rgb(240, 240, 240);
  border-radius: 12px;
  border: rgb(142, 212, 163);
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 100px;
  margin: auto;
}

#go_to_WholeClass:hover {
background-color: rgb(212, 211, 211);
}

#go_to_OH {
  background-color: rgb(240, 240, 240);
  border-radius: 12px;
  border: rgb(142, 212, 163);
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 100px;
  margin: auto;
}

#go_to_OH:hover {
  background-color: rgb(212, 211, 211);
}

#liveOH{
  color: rgb(255, 0, 0);
  font-size: 20px;
}

.spanOH{
  position: relative;
  display: block;
}

#chemistryTitle {
font-size: 60px;
font-family: Calibri;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
}
#assistanceLabel {
font-size: 40px;
font-family: calibri;
position: relative;
text-align: center;
margin-top: -50px;
}

#helpButton {
border: 1px solid black;
background-color: white;
font-size: 25px;
border-radius: 50%;
width: 40px;
height: 40px;
position: fixed;
text-align: center;
margin-left: 95%;
margin-top: 50px;
} 

#helpButton:hover {
background-color: rgb(212, 211, 211);
cursor: pointer;
}

