.container {
  height: auto;
  width: auto;
}

#connectNow {
  font-size: 60px;
  margin-top: 50px;
  font-family: Calibri;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#courses {
  font-size: 40px;
  font-family: calibri;
  position: relative;
  margin-top: auto;
  text-align: center;
}

.center {
  height: 200px;
  width: auto;
  margin-top: 20px;
}
#helpButton {
  border: 2px solid black;
  background-color: white;
  font-size: 25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  margin-left: 95%;
}
#helpButton:hover {
  background-color: rgb(212, 211, 211);
  cursor: pointer;
}
.courseButtons {
  position: relative;
  text-align: center;
  margin-top: 100px;
  vertical-align: center;
  font-family: 'Calibri';
}

#goToChemistry {
  background-color: rgb(142, 212, 163);
  border: rgb(142, 212, 163);
  border-radius: 12px;
  width: 400px;
  height: 400px;
  font-size: 40px;
}
#goToChemistry:hover {
  background-color: rgb(125, 194, 146);
  border: rgb(125, 194, 146);
}
#goToHistory {
  background-color: rgb(205, 178, 240);
  border-radius: 12px;
  border:  rgb(205, 178, 240);
  width: 400px;
  height: 400px;
  font-size: 40px;
  margin-left: 50px;
  margin-right: 110px;
}
#goToHistory:hover {
  background-color: rgb(188, 160, 223);
  border: rgb(188, 160, 223);
}
#goToEnglish {
  background-color: rgb(240, 228, 178);
  border-radius: 12px;
  border:  rgb(240, 228, 178);
  width: 400px;
  height: 400px;
  font-size: 40px;
}
#goToEnglish:hover {
  background-color: rgb(223, 210, 161);
  border: rgb(205, 178, 240);
}
#goToReminders {
  background-color: red;
  border: 4px solid rgb(209, 0, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
  top: -180px;
  right: 35px;
}

#goToReminders:hover {
  background-color: rgb(238, 0, 0);
  border: 4px solid rgb(192, 0, 0);
}

/* Got the styling for the navbar from https://www.w3schools.com/Css/css_navbar_horizontal.asp */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(142, 212, 163);
    padding-left: 33%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(48, 247, 8);
  }

  .btn-info {
      background-color: rgb(31, 172, 73) !important;
      border-color: rgb(14, 156, 14) !important;
  }

  .chem-subPage {
    text-align: center;
  }

  #go_to_Q_and_A {
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    border: rgb(142, 212, 163);
    width: 200px;
    height: 200px;
    font-size: 30px;
    margin-top: 100px;
    position: center;
  }

  #classQuestions {
    padding-top: 130px;
    align-content: center;
    padding-left: 110px;
    display:inline;
    float:left;
  } 
  
  #yourQuestions { 
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    display:inline;
    float: left;
  }

  #Q_and_A {
    height:120px; 
    width:35%;
    overflow:hidden; 
    overflow-y:scroll; 
    display:inline;
    float: left;
  }

  #question_time {
    background-color: white;
    align-items: center;
  }

  #a_question {
    padding-bottom: 10px;
    align-self: center;
  }

  #addQuestionButton {
      border: 1px solid black;
      font-size: 30px;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: fixed;
  }