
#go_to_Q_and_A {
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    border: rgb(142, 212, 163);
    width: 200px;
    height: 200px;
    font-size: 30px;
    margin-top: 100px;
    position: center;
}

#classQuestionsContainer{
    font-size: 20px;
    font-family: calibri;
    align-content: center;
    width: 100%;
} 

#yourQuestions { 
    font-size: 20px;
    font-family: calibri;
    padding-top: 5px;
}

#Q_and_A {
    height:190px; 
    width:50%;
    overflow:hidden; 
    overflow-y:scroll; 
    align-items: center;
    padding: 20px;
}

#question_time {
    background-color: white;
}

#search_question {
    font-family: calibri;
}

.one_question {
    padding-bottom: 10px;
    align-self: center;
}

#goBackToNoQuestions {
    border: 1px solid black;
    font-size: 30px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.question_button {
    font-family: calibri;
}

#input_question {
    width: 35%;
    font-family: calibri;
}

#input_answer {
    width: 35%;
    font-family: calibri;
    display: none;
}

#ask_your_question_button {
    font-family: calibri;
    background-color: rgb(142, 212, 163);
    border: rgb(142, 212, 163);
    width: 40px;
    height: 23px;
    font-size: 16px;
}

#reply_to_question_button {
    font-family: calibri;
    background-color: rgb(142, 212, 163);
    border: rgb(142, 212, 163);
    width: 67px;
    height: 23px;
    font-size: 16px;
    display: none;
}



/*Header formatting*/
.rContainer {
    height: auto;
    width: auto;
    background-color: rgb(142, 212, 163);

 }

  #chemistryTitle {
  font-size: 60px;
  font-family: Calibri;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  }

  #qaLabel {
  font-size: 40px;
  font-family: calibri;
  position: relative;
  text-align: center;
  margin-top: -50px;
}

#helpButton {
  border: 1px solid black;
  background-color: white;
  font-size: 25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  margin-left: 95%;
  margin-top: 50px;
} 

#helpButton:hover {
  background-color: rgb(212, 211, 211);
  cursor: pointer;
}



#searchBarDiv {
    padding: 20px;
}

#searchAndGoBack {
    position: relative;
}