.cContainer {
    height: auto;
    width: auto;
    background-color: rgb(142, 212, 163);

 }

#chemistryTitle {
  font-size: 60px;
  font-family: Calibri;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
#wcLabel {
  font-size: 40px;
  font-family: calibri;
  position: relative;
  text-align: center;
  margin-top: -50px;
}

#helpButton {
  border: 1px solid black;
  background-color: white;
  font-size: 25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  margin-left: 95%;
  margin-top: 50px;
} 

#helpButton:hover {
  background-color: rgb(212, 211, 211);
  cursor: pointer;
}

.search_in_contacts {
  padding-bottom: 10px;
  font-family: calibri;
}

.list-group-item {
  font-family: calibri;
}

#search_for_classmates {
  font-family: calibri;
}

#contactList{
  height: 195px;
  overflow-y: scroll;
  background-color: #fff;
}

#messageList{
  height: 120px;
  overflow-y: scroll;
  background-color: #fff;
}

.contactAndMessageContainer{
  border: 3px solid #fff;
  padding: 20px;
}

.listContainer {
  width: 25%;
  float: left;
  padding: 20px;
}

.showMessageContainer {
  width: 75%;
  float: left;
  padding: 20px;
  position: relative;
}

.sendMessageContainer {
  position: relative;
}

#messageToSend {
  position: relative;
  top: 30px;
  right: 4px;
  width: 40%;
  font-family: calibri;
  text-align: center;
}

#sendToLabel {
  text-align:left;
  font-family: calibri;
}

#directMessageTextDiv {
  padding: 20px;
}

#directMessageParagraph {
  font-family: calibri;
  text-align: left;
}

#lineBreak {
  position: relative;
  top: 20px;
  color: black;
  background-color: black;
  border-width: 1px;
  width: 58.8%;
  right: 222px;
}

#mic {
  position: relative;
  left: 450px;
}

#phone {
  position: relative;
  left: 500px;
  bottom: 39px;
}

#upload {
  position: relative;
  left: 570px;
  bottom: 79px;
}

#onlineLabel{
  margin-left: 2%;
  font-weight: bold;
}