.container {
  height: 100%;
  width: 100%;
}

#connectNow {
   font-size: 50px;
   margin-top: 50px;
   font-family: Arial, Helvetica, sans-serif;
   width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

#helpButton {
    border: 1px solid black;
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    margin-left: 95%;
}

#goToChemistry {
  background-color: rgb(142, 212, 163);
  border-radius: 12px;
  border: rgb(142, 212, 163);
  width: 200px;
  height: 200px;
  font-size: 30px;
  margin-top: 100px;
  position: fixed;
}

/* Got the styling for the navbar from https://www.w3schools.com/Css/css_navbar_horizontal.asp */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(142, 212, 163);
    padding-left: 33%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(48, 247, 8);
  }

  .btn-info {
      background-color: rgb(31, 172, 73) !important;
      border-color: rgb(14, 156, 14) !important;
  }

  .chem-subPage {
    text-align: center;
  }