.container {
    height: auto;
    width: auto;
  }
  
  #chemistryTitle {
    font-size: 60px;
    font-family: Calibri;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #reminders {
    font-size: 40px;
    font-family: calibri;
    position: relative;
    margin-top: auto;
    text-align: center;
  }
  .center {
    height: 200px;
    width: 100%;
    margin-top: -50px;
    background-color: rgb(142, 212, 163);
  }

  #helpButton {
    border: 1px solid black;
    font-size: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    text-align: center;
    margin-left: 95%;
    margin-top: 50px;
  }