.container {
    height: auto;
    width: auto;
  }
  
  #chemistryTitle {
    font-size: 60px;
    font-family: Calibri;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  #reminders {
    font-size: 40px;
    font-family: calibri;
    position: relative;
    text-align: center;
    margin-top: -50px;
  }
  .center {
    height: 200px;
    width: 100%;
    margin-top: -60px;
    background-color: rgb(142, 212, 163);
  }

  #helpButton {
    border: 1px solid black;
    background-color: white;
    font-size: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    text-align: center;
    margin-left: 95%;
    margin-top: 50px;
  }
  #helpButton:hover {
    background-color: rgb(212, 211, 211);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(142, 212, 163);
    padding-left: 23%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: Calibri;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(125, 194, 146);
  }

  .btn-info {
      background-color: rgb(125, 194, 146) !important;
      border-color: rgb(125, 194, 146) !important;
  }
